.App {
  text-align: 'center';
}

.Todo-App {
  padding-top: 35px;
  text-align: left;
  margin: 0 auto;
  width: 50%;
  position: relative;
}

input {
  font-size: 20px;
}

ul {
  padding: 0px;
}

li {
  list-style-type: none;
}

.message {
  background-color: #61DAFB;
  color: white;
  border: solid 1px #61DAFB;
  position: absolute;
  text-align: center;
  width:250px;
  top: 5px;
}

li span.delete-item {
  visibility: hidden;
}

span.delete-item button {
  background: none;
  border: none;
  font-size: 1em;
  font-weight:bold;
  text-decoration: none;
  color:red;
}

li:hover span.delete-item {
  visibility: visible;
}

a {
  padding-left: 2px;
  padding-right: 2px;
}